/* Navigation bar styles */
/* Basic Navigation bar styles */
.navigation {
  background: rgba(33, 33, 33, 1) !important;
  min-height: var(--navigation-height) !important;
  max-height: var(--navigation-height) !important;
  margin: 0;
}
.navigation.brand{
  max-width: max-content;
}
/* Navigation bar brand image and text */
.appbar-brand:hover {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
img.appbar-brand {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 5px;
}
