/* CSS Variables */
:root {
  --navigation-height: 50px;
  --footer-height: var(--navigation-height);
  --bottom-height: 0px;
  --bg-darker-1: 0.7;
  --bg-darker-2: 0.9;
  --top-height: 0px;
}
/* Root defaults */
.css-hyum1k-MuiToolbar-root {
  padding: 0 !important;
  min-height: auto !important;
}
/* Body element */
body {
  background: linear-gradient(
      rgba(0, 0, 0, var(--bg-darker-1)),
      rgba(0, 0, 0, var(--bg-darker-1))
    ),
    rgba(65, 65, 65, 1);
  background-position: center;
  background-size: cover;
  min-width: 400px;
  margin: 0;
}
/* Content area */
.upperBody {
  border-right: 1.5px double rgb(155, 155, 155);
  border-left: 1.5px double rgb(155, 155, 155);
  background: rgba(237, 237, 237, 0.05);
  min-height: calc(
    100vh - var(--navigation-height) - var(--top-height) - var(--bottom-height) -
      var(--footer-height)
  );
  max-width: 1920px;
  padding: 0;
}
/* Horizontal line styles */
/* Make horizontal line invisible */
hr.space {
  opacity: 0;
}
/* Make horizontal line as appbar link mediator */
hr.mediator {
  display: flex;
  width: 100%;
  opacity: 0;
  margin: 0;
}
